*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Menu {
    margin : 0 auto;
    width: 100%;
    position: sticky;
    top: 0;

}

.Menu ul {
    list-style-type: none;


}


.Menu li {
    float: left;
    text-align: center;
    width: 16.6666%;
    background-color: rgba(147,36,54,255);

}

.Menu a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 30px 0;
    font-size: 2em;


}

.Menu a:hover{
    color: rgb(195, 194, 194);
    border-bottom: 2px solid rgb(195, 194, 194);;
}




body {
    color: black;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: black;
    padding-top: 140px;
}
section{
    font-size: 0.7em;
}

.nom  {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.nom1  {
    text-align: center;
    font-size: 1.5em;
}